.submit-btn {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form1{
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: 5px 5px 4px;
  width:100%;
}
/* .my-table {
  border-collapse: collapse;
  width: 100%;
}

.my-table th,
.my-table td {
  border: 1px solid black;
  padding: 10px 2px;
  text-align: center;
} */


  